##### sw 1

! Command: show running-config
! device: SW1 (vEOS-lab, EOS-4.27.3F)
!
! boot system flash:/vEOS-lab.swi
!
no aaa root
!
alias gt bash python /mnt/flash/min-20.06.17.py %1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
logging buffered 1000
logging console informational
logging monitor informational
logging synchronous level all
!
hostname SW1
!
spanning-tree mode mstp
!
vlan 10,20
!
aaa authorization exec default local
!
interface Ethernet1
   switchport access vlan 20
!
interface Ethernet2
   switchport access vlan 10
!
interface Ethernet3
   no switchport
   ip address 100.100.100.2/24
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Ethernet9
!
interface Ethernet10
!
interface Ethernet11
!
interface Ethernet12
!
interface Ethernet13
!
interface Ethernet14
!
interface Loopback0
   ip address 1.1.1.1/32
!
interface Management1
!
interface Vlan10
   ip address 10.10.10.1/24
!
interface Vlan20
   ip address 20.20.20.1/24
   ip ospf network point-to-point
!
ip routing
!
ip route 0.0.0.0/0 100.100.100.1
!
router ospf 1
   passive-interface Vlan10
   network 10.10.10.1/32 area 0.0.0.0
   network 20.20.20.1/32 area 0.0.0.0
   max-lsa 12000
   default-information originate always
!
end