! Command: show running-config
! device: SW3 (vEOS-lab, EOS-4.27.3F)
!
! boot system flash:/vEOS-lab.swi
!
no aaa root
!
alias gt bash python /mnt/flash/min-20.06.17.py %1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
logging buffered 1000
logging console informational
logging monitor informational
logging synchronous level all
!
hostname SW3
!
spanning-tree mode mstp
!
vlan 30,40,70
!
aaa authorization exec default local
!
interface Ethernet1
   switchport access vlan 30
!
interface Ethernet2
   switchport access vlan 40
!
interface Ethernet3
   switchport access vlan 70
   no switchport
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Ethernet9
!
interface Ethernet10
!
interface Ethernet11
!
interface Ethernet12
!
interface Ethernet13
!
interface Ethernet14
!
interface Loopback0
   ip address 3.3.3.3/32
!
interface Management1
!
interface Vlan30
   ip address 30.30.30.2/24
!
interface Vlan40
   ip address 40.40.40.1/24
!
interface Vlan70
   ip address 70.70.70.2/24
!
ip routing
!
router ospf 1
   passive-interface Vlan40
   network 30.30.30.2/32 area 0.0.0.10
   network 40.40.40.1/32 area 0.0.0.10
   max-lsa 12000
   no default-information originate
!
end