! Command: show running-config
! device: L2-SW (vEOS-lab, EOS-4.27.3F)
!
! boot system flash:/vEOS-lab.swi
!
no aaa root
!
alias gt bash python /mnt/flash/min-20.06.17.py %1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
logging buffered 1000
logging console informational
logging monitor informational
logging synchronous level all
!
hostname L2_SW
!
spanning-tree mode mstp
!
vlan 50,60
!
aaa authorization exec default local
!
interface Ethernet1
   switchport trunk allowed vlan 50,60
   switchport mode trunk
!
interface Ethernet2
   switchport access vlan 50
!
interface Ethernet3
   switchport access vlan 60
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Ethernet9
!
interface Ethernet10
!
interface Ethernet11
!
interface Ethernet12
!
interface Ethernet13
!
interface Ethernet14
!
interface Management1
!
interface Vlan50
!
interface Vlan60
!
ip routing
!
end